<nav>
    <div class="titleNav">
        <a href="/admin/">Admin Panel</a>
    </div>
    <div class="iconNav">
        <div><a href="/admin/confirm-product">Confirm Product</a></div>
        <div><a href="/admin/add-product">Add Product</a></div>
        <div><a href="/admin/product-list">Product List</a></div>
        <div><a href="/admin/user-list">User List</a></div>
    </div>

    <div class="accountNav">
            <a href="/"><p>Shopjs</p></a>
    </div>
</nav>