<button type="button" onclick="removeFavorite(this)"><i class="fa-solid fa-heart" style="color: #ff00dd;"></i></button>
<input class="delFav" type="hidden" name="productId" value="<%= product.productId._id %>">
