<%- include('includes/b-shop-head-p.ejs') %>
<style>
    .err404 {
        position: absolute;
        left: 8%;
        top: 21%;
        font-size: 50px;
        color: #4E9F3D;
    }
</style>
  </head>
  <body>
    <%- include('includes/b-shop-nav-p.ejs') %>
    <main>
      <h1 class="err404">Error: 404 Page Not Found</h1>
    </main>
<%- include('includes/b-shop-end-p.ejs') %>