<%- include('../includes/b-shop-head-p.ejs') %>
<link rel="stylesheet" href="/css/e-main.css">
  </head>
  <body>
    <%- include('../includes/b-shop-nav-p.ejs') %>
    <main>
      <section class="user">
        <div class="hello">
          <h1>Hi <%= userName %>!</h1>
          <a href="/my-shop/add-product">Add Product</a>
          <a href="/my-shop/my-products">My Products</a>
        </div>
        <div class="container">
          
        </div>
      </section>
    </main>
  <%- include('../includes/b-shop-end-p.ejs') %>